<% if user_signed_in? %>
  <p>Hi <%= current_user.email %>
  <p>
    <%= button_to('New Game', 'create_game') %>
  </p>
    <% @hands.each do |hand| %>
      <%= render partial: "game", locals: { game: hand.game } %>
    <% end %>
    <% @available_games.each do |game| %>
      <%= render partial: "game", locals: { game: game } %>
    <% end %>
  <p>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </p>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
    <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>

<% end %>

