<% if user_signed_in? %>
  <p>Hi <%= current_user.email %>
    <% @hands.each do |hand| %>
      <p>
        Game <%= hand.game_id %>
        <%= button_to('resume', { controller: :game, id: hand.game_id, action: :show }, method: :get) %>
      </p>
    <% end %>
    <% @available_games.each do |game| %>
      <p>
        Game <%= game.id %>
        <%= button_to('join', { controller: :game, id: game.id, action: :join }) %>
      </p>
    <% end %>
  <li>
    <%= button_to('New Game', 'create_game') %>
  </li>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
    <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>

<% end %>

