<% unless current_user.email == 'admin@example.com' || (@player_hand && ( @player_hand.can_bid? || @player_hand.can_play? )) %>
  <meta http-equiv="refresh" content="5">
<% end %>

<div class="row">
  <div class="col-xs">
    <%= link_to('Home', "/") %>
  </div>
</div>
<div class="row">
  <div class="col-xs">
    <div class="row-xs">
      &nbsp;
    </div>
    <% @current_trick_cards.each do |card| %>
      <div class="row-xs">
        <div class="box"><strong><%= card.try(:hand).try(:name) %></strong>&nbsp;</div>
      </div>
    <% end %>
  </div>
  <div class="col-xs">
    <div class="row-xs">
      <div class="box">Current Trick</div>
    </div>
    <% @current_trick_cards.each do |card| %>
      <div class="row-xs">
        <div class="box"><%= card %>&nbsp;</div>
      </div>
    <% end %>
  </div>
  <div class="col-xs">
    <div class="row-xs">
      <div class="box">Last Trick</div>
    </div>
    <% @last_trick_cards.each do |card| %>
      <div class="row-xs">
        <div class="box"><%= card %>&nbsp;</div>
      </div>
    <% end %>
  </div>
  <div class="col-xs">
    <div class="row-xs">
    </div>
  </div>
  <div class="col-xs">
    <div class="row-xs">
      <div class="box"><strong><%= @game.trump_suit %></strong></div>
    </div>
    <% if current_user.email == 'admin@example.com' %>
      <div class="row-xs">
        <div class="box">
          <%= link_to('Award Trick', "/game/#{@game.id}/award_trick") if @game.can_award_trick? %>&nbsp;
          <% @game.hands.each do |hand| %>
            <%= link_to('Bid', "/hand/#{hand.id}/make_bid") if hand.can_bid? && hand.user.nil? %>
            <%= link_to('Play', "/hand/#{hand.id}/play") if hand.can_play? %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="row-xs">
      <%= link_to('Deal', "/game/#{@game.id}/deal") if @game.can_deal? %>
      <%= link_to('Award Trick', "/game/#{@game.id}/award_trick") if @game.can_award_trick? %>
      <%= link_to('Award Bid', "/game/#{@game.id}/award_bid") if @game.can_award_bid? %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs">
    &nbsp;
  </div>
</div>
<div class="row">
  <div class="col-xs">

  </div>
  <div class="col-xs">

  </div>
  <div class="col-xs">

  </div>
  <div class="col-xs">
    <div class="row-xs">
      <div class="box">
        <strong>Kitty</strong>
          <%= link_to('Award Bid', "/game/#{@game.id}/award_bid") if @game.can_award_bid? && current_user.email == 'admin@example.com'%>
      </div>
    </div>
    <% if @game.bid_winner == current_user || current_user.email == 'admin@example.com' %>
      <% @game.cards.unassigned.each do |card| %>
        <div class="row-xs">
          <div class="box"><%= card %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs">
    &nbsp;
  </div>
</div>
<div class="row">
    <% @game.hands.each do |hand| %>
    <div class="col-xs">
      <div class="row-xs">
        <div class="box">
          <strong><%= hand.name %></strong>
        </div>
      </div>
      <% if current_user.email == 'admin@example.com' %>
        <div class="row-xs">
          <div class="box">
            <%= link_to('Bid', "/hand/#{hand.id}/make_bid") if hand.can_bid? && hand.user.nil? %>
            <%= link_to('Play', "/hand/#{hand.id}/play") if hand.can_play? %>
          </div>
        </div>
      <% end %>
      <div class="row-xs">
        <% if (hand.user == current_user || current_user.email == 'admin@example.com') && hand.can_bid? && hand.user.present? %>
          <%= form_tag("/hand/#{hand.id}/make_bid", method: "get") do %>
            <%= label_tag(:bid, "Bid:") %>
            <%= select_tag(:bid, options_for_select(@game.available_bids)) %>
            <%= submit_tag("Place Bid") %>
          <% end %>
        <% else %>
          <div class="box"><strong>Bid: <%= hand.bids.last %></strong></div>
        <% end %>
      </div>
      <div class="row-xs">
        <div class="box"><strong>Tricks: <%= hand.won_tricks.size %></strong></div>
      </div>
      <% if hand.user == current_user || current_user.email == 'admin@example.com' %>
        <% hand.cards.in_play_unordered.order('suit, strength DESC').each do |card| %>
          <div class="row-xs">
            <div class="box"><%= card %></div>
            <% if hand.cards.size > 10 %>
              <div class="box"><%= link_to('Discard', "/hand/#{hand.id}/discard?suit=#{card.suit}&rank=#{card.rank}") if hand.can_play? %></div>
            <% else %>
              <div class="box"><%= link_to('Play', "/hand/#{hand.id}/play?suit=#{card.suit}&rank=#{card.rank}") if hand.can_play? && card.can_play? %></div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
