<input type="checkbox" id="discard_card_<%= discard.id %>" name="id[]" value="<%= discard.id %>" style="display: none;"/>
<label for="discard_card_<%= discard.id %>" class="card card-<%= discard.rank %>-<%= discard.suit %>"></label>
